.row
{
  margin:0;
}
.col-sm-2, .col-sm-4, .col-sm-3
{
  height:100%;
  padding:0;
}
.timeline
{
  height:auto;
  background-color:black;
  overflow-x:scroll;
}
.timeline-list
{
  list-style:none;
  display:flex;
  flex-direction: row;
}
.timeline-list li
{
  float: left;
  margin: 10px 15px;
}
.timeline-item:hover
{
  height:200;
  width:200;
  border:2px yellow;
}
#display-panel
{
  padding:10px;
}
.container-fluid
{
  padding:0px;
}
#content
{
  margin-left: 15px;
  margin-right: 15px;
}
.title-panel
{
  padding-left:15px;
}
.panel-body
{
  padding:0px 5px;
}
#overview
{
  margin-right: 15px;
  padding:0px;
  overflow:scroll;
}
#focusedview
{
  margin-right: 15px;
}
#selectedDataPoints
{
  max-height:300;
  overflow:scroll;
}
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
#viewControl
{
  position:absolute;
  top:15px;
  right:10px;
  width:50px;
  z-index:999;
}
.miscRow
{
  background-color:#c2d6d6;
}