.row
{
  margin:0;
}
.col-sm-2, .col-sm-4, .col-sm-3
{
  height:100%;
  padding:0;
}
.timeline
{
  height:auto;
  background-color:black;
}
.timeline-list
{
  list-style:none;
  display:flex;
  flex-direction: row;
}
.timeline-list li
{
  float: left;
  margin: 10px 15px;
}
.timeline-item:hover
{
  height:200;
  width:200;
  border:2px yellow;
}
#display-panel
{
  padding:10px;
}
.container-fluid
{
  padding:0px;
}
#content
{
  margin-left: 15px;
  margin-right: 15px;
}
.title-panel
{
  padding-left:15px;
}
#overview
{
  margin-right: 15px;
}